$like-icon-color: var(--like-icon-color, #e84666) !default;
$color-primary: var(--color-primary, #ae0b05) !default;
$color-primary-contrasting: var(--color-primary-contrasting, #fff) !default;
$like-counter-background-color: var(--like-counter-background-color, $color-primary) !default;
$like-counter-color: var(--like-counter-color, $color-primary-contrasting) !default;
$base: var(--base, 8px) !default;

.like-icon {
    color: $like-icon-color;
    cursor: pointer;
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.like-counter {
    position: absolute;
    background-color: $like-counter-background-color;
    color: $like-counter-color;
    font-family: sans-serif;
    border-radius: 50%;
    min-width: calc($base * 2.2);
    height: auto;
    aspect-ratio: 1/1;
    right: calc($base * -1);
    top: calc($base * -0.75);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
